# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.conda/

# Data
data/raw/*.xlsx

# Results temporary
*.tmp


# docs
docs/数据字典.xlsx

# results

# src
src/generate_data_dictionary.py
src/generate_final_dictionary.py


# IDE
.idea/
.vscode/